<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>flash message test</title>
</head>

<body>
    <h1>登録画面</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method="POST">
        <p>
            名前<br>
            <input type="text" name="name">
        </p>
        <p>
            年齢<br>
            <input type="text" name="age">
        </p>
        <input type="submit" value="送信">
    </form>
</body>

</html>